


body{
  background-color: black !important;
  justify-content: center;
  align-items: center;
}

.array {
  height: 100px;
  position: relative;
}
.bar {
  position: absolute;
  box-sizing: border-box;
  background: grey;
  border: 1px solid white;
  transition: left 0.2s;
}

.array-bar{
  display:inline-block;
  background: #61dafb;
  flex-grow: 1;



}

.array-container{
  display: flex;
  width: 80vw;
  margin: auto;
  background-color: grey;
  height: 80vh;
  border: 1px solid black;
  overflow: visible;
  align-items: flex-end;



}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
